body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    max-width: 800px;
}

.header-title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px;
}

.header-body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
}

.hero-main {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 46px;
}

.hero-secondary {
    word-wrap: break-word;
}

a, .hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

button, .call-sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 6px 24px;
    border-radius: 8px;
    align-self: flex-start;
    margin-top: 16px;

}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-title {
    margin-bottom: 8px;
    text-align: center;
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
}

.text {
    margin-top: 8px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    text-align: center;
}

img[alt~="bear"]{
    width: 40px;
    height: 40px;
}

img[alt~="nurburgring"]{
    width: 400px;
    height: 200px;
    margin-top: 48px;
}

img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.random-information {
    padding: 24px;
}

.quote-container {
   padding: 48px;
}

.inspiring-quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-text {
    max-width: 800px;
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
    color: 1f39e7;
}
.quote-author {
    text-align: right;
    color: #1f2937;
    font-weight: bolder;
    font-size: 24px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.call-action-container {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    padding: 32px 120px;
    gap: 240px;
    border-radius: 10px;
}

.call-main-text, .call-sec-text {
    color: #f9faf8;
}

.call-main-text {
    font-weight: bolder;
    font-size: 24px;
}

.call-sign-up {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 24px;
    background-color: #1f2937;
    color: #f9faf8;
}